<!--<p-toast position="top-left"></p-toast>-->

<p-panel header="Création note client:" [toggleable]="true">
    <form id="form">
        <div class="p-fluid">
            <div class="p-field">
                <label for="title">Titre</label>
                <input id="title" maxlength="80" type="text" pInputText>
            </div>
            <div class="p-field">
                <p-rating></p-rating>
            </div>
        </div>
        <button pButton type="button" label="Envoyer" class="p-button-raised p-button-rounded" icon="pi pi-check"
            (click)="saveRating();"></button>
    </form>
</p-panel>