<p-messages [(value)]="msgs1" [enableService]="false"></p-messages>

<p-table #dt [columns]="cols" [value]="movies" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
    currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} enregistrement(s)"
    [rowsPerPageOptions]="[10,25,50]" styleClass="p-datatable-customers p-datatable-gridlines">

    <ng-template pTemplate="caption">
        <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Recherche">
        </span>
        <app-button-add-movie></app-button-add-movie>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header | upperCase}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
            <th> ACTION </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                <span *ngIf="col.field === 'title'">
                    {{rowData[col.field] | titlecase}}
                </span>
                <span *ngIf="col.field === 'releaseDate'">
                    {{rowData[col.field] | date:'mediumDate'}}
                </span>
                <span *ngIf="col.field !== 'title' && col.field !== 'releaseDate'">
                    {{rowData[col.field]}}
                </span>
            </td>
            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"
                (click)="editMovie(rowData)"></button>
            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                (click)="deleteMovie(rowData)"></button>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="movieDialog" [style]="{width: '450px'}" header="Mise à jour du film" [modal]="true"
    [formGroup]="movie" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="title">Film</label>
            <input type="text" maxlength="80" pInputText id="title" formControlName="title" required autofocus />

            <span class="pi pi-exclamation-triangle"
                *ngIf="movie.value.title == ''">{{errorMessage.title[0].message}}</span>
        </div>
        <div class="p-field">
            <label for="price">Prix</label>
            <input type="number" [min]="1" [max]="15" pInputText id="price" formControlName="price" required autofocus>

            <span class="pi pi-exclamation-triangle"
                *ngIf="movie.value.price < 1">{{errorMessage.price[0].message}}</span>
            <span class="pi pi-exclamation-triangle"
                *ngIf="movie.value.price > 15">{{errorMessage.price[1].message}}</span>
        </div>
        <div class="p-field">
            <label for="yearRequired">Age requis</label>
            <select pInputText id="yearRequired" formControlName="yearRequired" required autofocus>
                <option value="">-- Faites un choix: --</option>
                <option value="0">Tous</option>
                <option value="3">Maternelle (-3)</option>
                <option value="7">Enfant (-7)</option>
                <option value="12">Adolescent (-12)</option>
                <option value="18">Adulte (-18)</option>
            </select>

            <span class="pi pi-exclamation-triangle"
                *ngIf="movie.value.yearRequired == ''">{{errorMessage.yearRequired[0].message}}</span>
        </div>
        <div class="p-field">
            <label for="releaseDate">Date de sortie</label>
            <input type="text" dateFormat="dd-MM-yyyy" pInputText id="releaseDate"
                formControlName="releaseDate" required autofocus />

            <span class="pi pi-exclamation-triangle"
                *ngIf="movie.value.releaseDate == ''">{{errorMessage.releaseDate[0].message}}</span>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveUpdate()"
            [disabled]="!movie.valid"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>